.singleFruitBox {
    padding-left: 200px;
    display: flex;
    flex-direction: row;

    >div:nth-child(1) {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        width: 200px;
        height: 500px;
        background-color: #09212A;

        >img {
            transform: translate(-200px, 50px);
            width: 400px;
            filter: drop-shadow(0 0 20px rgb(0, 0, 0));
        }

        box-shadow: 5.7px 5.7px 2.2px rgba(0, 0, 0, 0.032),
        11.5px 11.5px 5.3px rgba(0, 0, 0, 0.04),
        17.9px 17.9px 10px rgba(0, 0, 0, 0.044),
        26.2px 26.2px 17.9px rgba(0, 0, 0, 0.048),
        40.2px 40.2px 33.4px rgba(0, 0, 0, 0.054),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    }

    >div:nth-child(2) {
        padding: 16px;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        width: 400px;
        height: 500px;
        background-color: #09212A;

        display: flex;
        flex-direction: column;
        gap: 16px;

        box-shadow:
            5.7px 5.7px 2.2px rgba(0, 0, 0, 0.032),
            11.5px 11.5px 5.3px rgba(0, 0, 0, 0.04),
            17.9px 17.9px 10px rgba(0, 0, 0, 0.044),
            26.2px 26.2px 17.9px rgba(0, 0, 0, 0.048),
            40.2px 40.2px 33.4px rgba(0, 0, 0, 0.054),
            100px 100px 80px rgba(0, 0, 0, 0.07);

        >h2 {
            font-size: 32px;
        }

        >div:nth-child(2) {
            padding: 0 8px;
            height: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            >div{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
            }
            >div>img{
                height: 16px;
            }
        }

        >div:nth-child(3) {
            padding: 8px;
            height: 15%;
            width: 100%;
        }

        >div:nth-child(4) {
            overflow-y: auto;
            padding: 8px;
            height: 25%;
            width: 100%;
        }

        >div:nth-child(5) {
            border-radius: 8px;
            padding: 8px;
            height: 25%;
            width: 100%;
            background-color: #124658;

            >div:nth-child(1) {
                overflow-y: auto;
                height: calc(100% - 20px);
            }

            >div:nth-child(2) {
                
                
                >input {
                    height: 20px;
                    width: calc(100% - 20px);
                    background-color: #124658;
                    border: 0;
                    padding: 1px 8px 0px 8px;
                    border-bottom: 1px solid white;

                    &:focus {
                        outline: none;
                    }
                }

                >button {
                    cursor: pointer;
                    background-color: #124658;
                    width: 20px;
                    height: 20px;
                    border: 0;
                    padding: 0;
                    
                    >img{
                        height: 12px;
                        filter: invert(63%) sepia(50%) saturate(6850%) hue-rotate(331deg) brightness(105%) contrast(98%);
                        
                    }
                }
            }


        }
    }
}


@media screen and (max-width: 850px) {
    .singleFruitBox {
        padding-left: 0px;
        padding-top: 200px;
        flex-direction: column;

        >div:nth-child(1) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            width: 400px;
            height: 150px;

            >img {
                transform: translate(0px, -150px);
                width: 300px;
            }
        }

        >div:nth-child(2) {
            padding: 16px;
            border-bottom-right-radius: 16px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 16px;
            width: 400px;
            height: 500px;
            flex-direction: column;
        }
    }
}